@using SecureDocumentStorage.Models.DocumentViewModels
@model IEnumerable<DocumentInfoViewModel>
@{
    ViewData["Title"] = "Index";
}
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/js/crypto/crypto-manager.js"></script>
<script src="~/js/crypto/aes.js"></script>
<script>
    $(document).ready(function () {
        cryptoManager.init();
    });

    function addDocumentId(documentId) {
        $("#hiddenDocumentId").val(documentId);
    }

    function downloadDocument() {

        if ($("#aesDocumentKey").val() != "" && $("#hiddenDocumentId").val() != "") {
            $.ajax({
                type: "GET",
                url: "/Document/Download/",
                data: { id: $("#hiddenDocumentId").val() },
                success: function (result) {
                    if (result.encryptedDocument != "" && result.fileName != "") {
                        cryptoManager.decryptFile(result.encryptedDocument, result.fileName, $("#aesDocumentKey").val());
                        $(".downloadFile")[0].click();
                        location.reload();
                    }
                }
            });
        }
    }
</script>

<h2>Index</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    <a class="downloadFileCSS" data-toggle="modal" data-target="#downloadDocumentModal" onclick="addDocumentId(@item.Id);">Download</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<!-- Modal -->
<div id="downloadDocumentModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Please input key..</h4>
            </div>
            <input type="text" placeholder="Input Key ..." class="form-control" id="aesDocumentKey" />

            <div class="modal-footer">
                <button type="button" class="btn btn-default" onclick="downloadDocument()" data-dismiss="modal">Download</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>

<a class="downloadFile"></a>
<input type="hidden" id="hiddenDocumentId" value="" />